<!-- delete_subject_confirm.html -->

{% extends 'main/base.html' %}

{% block title %}Delete Subject{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2>Are you sure you want to delete this subject?</h2>
        <p>{{ subject.name }} - {{ subject.level }}</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete</button>
            <a href="{% url 'subject_list' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>
{% endblock content %}
